.top-0 {
    top: 0 !important;
  }
  
  .top-50 {
    top: 50% !important;
  }
  
  .top-100 {
    top: 100% !important;
  }
  
  .bottom-0 {
    bottom: 0 !important;
  }
  
  .bottom-50 {
    bottom: 50% !important;
  }
  
  .bottom-100 {
    bottom: 100% !important;
  }
  
  .start-0 {
    left: 0 !important;
  }
  
  .start-50 {
    left: 50% !important;
  }
  
  .start-100 {
    left: 100% !important;
  }
  
  .end-0 {
    right: 0 !important;
  }
  
  .end-50 {
    right: 50% !important;
  }
  
  .end-100 {
    right: 100% !important;
  }
  
  .translate-middle {
    transform: translate(-50%, -50%) !important;
  }
  
  .translate-middle-x {
    transform: translateX(-50%) !important;
  }
  
  .translate-middle-y {
    transform: translateY(-50%) !important;
  }
  
  .border {
    border: 1px solid #dee2e6 !important;
  }
  
  .border-0 {
    border: 0 !important;
  }
  
  .border-top {
    border-top: 1px solid #dee2e6 !important;
  }
  
  .border-top-0 {
    border-top: 0 !important;
  }
  
  .border-end {
    border-right: 1px solid #dee2e6 !important;
  }
  
  .border-end-0 {
    border-right: 0 !important;
  }
  
  .border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
  }
  
  .border-bottom-0 {
    border-bottom: 0 !important;
  }
  
  .border-start {
    border-left: 1px solid #dee2e6 !important;
  }
  
  .border-start-0 {
    border-left: 0 !important;
  }
  
  .border-primary {
    border-color: #0d6efd !important;
  }
  
  .border-secondary {
    border-color: #6c757d !important;
  }
  
  .border-success {
    border-color: #198754 !important;
  }
  
  .border-info {
    border-color: #0dcaf0 !important;
  }
  
  .border-warning {
    border-color: #ffc107 !important;
  }
  
  .border-danger {
    border-color: #dc3545 !important;
  }
  
  .border-light {
    border-color: #f8f9fa !important;
  }
  
  .border-dark {
    border-color: #212529 !important;
  }
  
  .border-white {
    border-color: #fff !important;
  }
  
  .border-1 {
    border-width: 1px !important;
  }
  
  .border-2 {
    border-width: 2px !important;
  }
  
  .border-3 {
    border-width: 3px !important;
  }
  
  .border-4 {
    border-width: 4px !important;
  }
  
  .border-5 {
    border-width: 5px !important;
  }
  
  .w-25 {
    width: 25% !important;
  }
  
  .w-50 {
    width: 50% !important;
  }
  
  .w-75 {
    width: 75% !important;
  }
  
  .w-100 {
    width: 100% !important;
  }
  
  .w-auto {
    width: auto !important;
  }
  
  .mw-100 {
    max-width: 100% !important;
  }
  
  .vw-100 {
    width: 100vw !important;
  }
  
  .min-vw-100 {
    min-width: 100vw !important;
  }
  
  .h-25 {
    height: 25% !important;
  }
  
  .h-50 {
    height: 50% !important;
  }
  
  .h-75 {
    height: 75% !important;
  }
  
  .h-100 {
    height: 100% !important;
  }
  
  .h-auto {
    height: auto !important;
  }
  
  .mh-100 {
    max-height: 100% !important;
  }
  
  .vh-100 {
    height: 100vh !important;
  }
  
  .min-vh-100 {
    min-height: 100vh !important;
  }

  .margin-right10{
    margin-right: 10px !important;
  }

  .C333{
    color: #333;
  }
  .C777{
    color: #777
  }


  .colorGreen{ background-color: #2c564e80 !important;
    #gnb{
        padding:0 !important;
        .gnb_1dli.gnb_al_li_plus .gnb_1da{
            color:white; 
            font-size: 0.85em;
        }
    }
 }

 .cursor-pointer{
   cursor: pointer;
 }

li{
    list-style: none;
}

#hd{
   z-index: 10000;
   transition: 0.5s;

    #gnb{
        .gnb_1da{
            transition: 0.5s;
        }
        .gnb_wrap{
        }
        .gnb_menu_btn{           
            left: 0;
            position: relative;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
            }
    }

}


p {
  margin:unset;
}
.open_hover{

  @media(max-width :768px){
    .open_hover_visible{
      font-size: 1rem !important;
    }
  }

  .open_hover_visible{
    opacity: 0;
    top:30%; 
    font-family: "GSB";
    color:#20a567;
    font-size: 2rem;
  }
}
.open_hover:hover{
  .open_img,.category_open,.subject_open{
    opacity: 0.8;
    cursor: pointer;
  }

}

.open_hover:hover .open_hover_visible{
    opacity: 1;
}
.category_open{
  left:0;
  top:0;
  color:white;
  background: #19875490;
}
.subject_open{
  color:#198775;
  font-family: 'GSB';
}
.subject_youtube{
  color:#198775;
  font-family: 'GSB';
  font-size: 1.5rem;
  margin: 0 auto;
}

.topbg{
    background-color: beige;

}



.fa + .sound_only{
                   display: block !important;
                   position: unset; 
                   font-size: 1rem;
                   line-height: unset;
                   overflow: visible !important;
                }

.text-cut{
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
}



.swiper-button-next, .swiper-rtl .swiper-button-prev{
  right:-30px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
  left:-30px;
}

:root{
  --swiper-navigation-size: 33px;
  --swiper-theme-color:#20c997;
}

@media(max-width:768px){
  .subject_open{
     font-size:1rem;
    }
}

#ft{
  background-color: #37454b;

}
.footerwrap{
  background-color: #37454b;
  color: #fff;
}

.notice_textbox0 {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.notice_img{
  top:0;
  right:0;
  opacity: 0;
  transition: 0.5s;
}

.notice_textbox:hover .notice_img{
  opacity: 1;
  z-index: 2;
}

.notice_right_text,.notice_wr{
  font-size:1.2rm
}
.tabstitle.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
  font-size: xx-large;
}
.swiper-pagination-bullet{
  width: 125px;
  background-color: transparent;
  transition: 0.5s;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #4a9f9f;
    position: relative;
    height: 1px;
  
}
.swiper-slide.slide-bg{
  background: white;
}


.movie_list{
  width: 100%;
  background-size: 100%;
  background-image: url(../img/main_youtube_bg.png);
  background-position: center;
}
.RIAHN_youtube{
  font-size: 3.3rem;
}

#element_to_pop_up { 
  background-color:#fff;
  border-radius:15px;
  color:#000;
  display:none; 
  padding:20px;
  min-width:400px;
  min-height: 180px;
}
.b-close{
  cursor:pointer;
  position:absolute;
  right:10px;
  top:5px;
}


.instagram_head{
  align-self: center;
  margin: 0 auto;
}

.instagram_content{
  font-family:"GSB";
}



div, ul, li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:0;margin:0
}
a {
  text-decoration:none;
}




.quickmenu{

  position: fixed;
  top: 55%;
  right: 50px;
  display: block;
  z-index: 9999;
  ul{
    width: 50px;
    li{
      overflow: hidden;
      width: 100%;
      float: right;
      line-height: 4;
      background-color: #777;
      flex-direction: row-reverse;  
      border-radius: 50px;
      a{
        display: -webkit-inline-box;
     
      }
      
    } 
    
    li:hover{
      background-color: #198754;
      width: 150px;
      line-height: 4s;
      transition: 0.4s;
      transition-delay: 0.1s;
     
      .quick_text{
        display: block;
      }
    }
  }
  .quick_text{
    display: none;
    white-space:nowrap;
  }
}

